absl-py
aiohappyeyeballs
aiohttp
aiosignal
astunparse
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloud-sql-python-connector
colorama
cryptography
flask
flask_mysqldb
flask_sqlalchemy
flatbuffers
frozenlist
gast
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
gunicorn
h5py
idna
imutils==0.5.4
iniconfig
itsdangerous
jax
Jinja2
joblib
keras
libclang
markdown
markdown-it-py
markupsafe
mdurl
ml-dtypes
multidict
mysql-connector
# mysql-connector-python
# mysql-connector-python-rf
# mysqlclient
namex
numpy==1.23.5
oauthlib
opt-einsum
optree
packaging
pillow==9.5.0
pluggy
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pygments
pymysql
pytest
python-tds
requests
requests-oauthlib
rich
rsa
scikit-learn==1.2.2
scipy
six
sqlalchemy
sqlalchemy-pytds
tensorboard
tensorboard-data-server
tensorflow==2.12.0
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
urllib3
waitress
werkzeug
wrapt
yarl