{% extends "base.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %} {% block content %}
<!-- Profil Pengguna -->
<div
  class="headerbg p-3 text-dark mt-4 mb-5"
  style="height: auto; background-color: white"
>
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}" style="color: #14335f">Beranda</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ url_for('superadmin') }}" style="color: #14335f"
              >Super Admin</a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Lihat Pengguna
          </li>
        </ol>
      </nav>
      <h1 class="text-center">Profil Pengguna</h1>
      <div class="mt-5" style="display: flex; align-items: center">
        <label for="profilePictureInput" id="profilePictureLabel">
          <img
            class="img-fluid"
            src="{{ image_url }}"
            alt="Profile Picture"
            style="
              object-fit: cover;
              object-position: center;
              height: 150px;
              width: 150px;
            "
            id="profilePictureImg"
          />
        </label>
        <div style="margin-left: 20px; width: 100%">
          <form
            id="user_form"
            action="{{ url_for('superadmin_user', taken_user_id=user_data[0]) }}"
            method="POST"
          >
            <fieldset disabled id="user_fieldset">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="new_name"
                    >Nama Pengguna ({{ user_data[6] }}):</label
                  >
                  <input
                    type="text"
                    id="new_name"
                    name="new_name"
                    class="form-control"
                    value="{{ user_data[1] }}"
                    style="border-color: #14335f"
                    required
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="new_phone">No. Telepon</label>
                  <input
                    type="text"
                    id="new_phone"
                    name="new_phone"
                    class="form-control"
                    value="{{ user_data[2] }}"
                    style="border-color: #14335f"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="new_email">Email:</label>
                  <input
                    type="text"
                    id="new_email"
                    name="new_email"
                    class="form-control"
                    value="{{ user_data[3] }}"
                    style="border-color: #14335f"
                    required
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="new_status">Status:</label>
                  <select
                    type="text"
                    id="new_status"
                    name="new_status"
                    class="form-select"
                    style="border-color: #14335f"
                  >
                    <option>aktif</option>
                    <option>non-aktif</option>
                  </select>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="form-group col-md-12">
                <button
                  type="button"
                  id="cancelButton"
                  class="btn btn-secondary mt-2"
                  style="float: right; display: none"
                >
                  <i class="fa fa-times"></i>
                </button>
                <button
                  type="button"
                  id="saveButton"
                  class="btn btn-success mt-2"
                  style="float: right; margin-right: 30px; display: none"
                >
                  <i class="fa fa-floppy-o"> Simpan</i>
                </button>

                <button
                  type="button"
                  id="editButton"
                  class="btn text-white mt-2"
                  style="float: right; background-color: #14335f"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  type="button"
                  id="editPasswordButton"
                  data-bs-toggle="modal"
                  data-bs-target="#editPasswordModal"
                  class="btn text-white mt-2"
                  style="
                    float: right;
                    margin-right: 30px;
                    background-color: #14335f;
                  "
                >
                  <i class="fa fa-pencil"> Ubah Password</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user_data[6] == "dokter" %}
<!-- Tabel Riwayat Deteksi (AKTIF) -->
<div
  class="headerbg p-3 text-dark mt-4 mb-5"
  style="height: auto; background-color: white"
>
  <div class="container" style="text-align: center">
    <h3>Riwayat Deteksi Aktif</h3>
    <input
      type="text"
      id="searchInput1"
      onkeyup="searchTable1()"
      placeholder="Cari data riwayat deteksi (Tanggal dan Waktu/Nama Pasien)"
      class="form-control mb-3"
      style="border-color: #14335f"
    />

    <table
      class="table table-striped table-hover table-default table-bordered"
      id="dataTable1"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tanggal dan Waktu</th>
          <th scope="col">Nama Pasien</th>
          <th scope="col">Kategori</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for detection_row in active_detections %}
        <tr>
          <td>{{ detection_row[0] }}</td>
          <td>{{ detection_row[3] }}</td>
          <td>{{ detection_row[4] }}</td>
          <td>{{ detection_row[2] }}</td>
          <td>
            <button
              class="btn text-white btn-detail"
              style="background-color: #14335f"
              data-id="{{ detection_row[0] }}"
              data-image="{{ detection_row[-1] }}"
              data-label="{{ detection_row[2] }}"
              data-datetime="{{ detection_row[3] }}"
              data-patient="{{ detection_row[4] }}"
              data-note="{{ detection_row[5] }}"
              data-conf="{{ detection_row[7] }}"
              data-doc="{{ detection_row[6] }}"
              data-pnik="{{ detection_row[8] }}"
            >
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% for page_num in range(1, (active_total // per_page) + 2) %}
        <li class="page-item {% if active_page == page_num %}active{% endif %}">
          <a
            class="page-link"
            href="{{ url_for('superadmin_user', taken_user_id=taken_user_id, active_page=page_num, inactive_page=inactive_page) }}"
            style="{% if active_page == page_num %}color: white; background-color: #14335f;{% endif %}"
            >{{ page_num }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

<!-- Tabel Riwayat Deteksi (NON-AKTIF) -->
<div
  class="headerbg p-3 text-dark mt-4 mb-5"
  style="height: auto; background-color: white"
>
  <div class="container" style="text-align: center">
    <h3>Riwayat Deteksi Non-Aktif</h3>
    <input
      type="text"
      id="searchInput2"
      onkeyup="searchTable2()"
      placeholder="Cari data riwayat deteksi (Tanggal dan Waktu/Nama Pasien)"
      class="form-control mb-3"
      style="border-color: #14335f"
    />

    <table
      class="table table-striped table-hover table-default table-bordered"
      id="dataTable2"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tanggal dan Waktu</th>
          <th scope="col">Nama Pasien</th>
          <th scope="col">Kategori</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for detection_row in inactive_detections %}
        <tr>
          <td>{{ detection_row[0] }}</td>
          <td>{{ detection_row[3] }}</td>
          <td>{{ detection_row[4] }}</td>
          <td>{{ detection_row[2] }}</td>
          <td>
            <button
              class="btn text-white btn-detail"
              style="background-color: #14335f"
              data-id="{{ detection_row[0] }}"
              data-image="{{ detection_row[-1] }}"
              data-label="{{ detection_row[2] }}"
              data-datetime="{{ detection_row[3] }}"
              data-patient="{{ detection_row[4] }}"
              data-note="{{ detection_row[5] }}"
              data-conf="{{ detection_row[7] }}"
              data-doc="{{ detection_row[6] }}"
              data-pnik="{{ detection_row[8] }}"
            >
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% for page_num in range(1, (inactive_total // per_page) + 2) %}
        <li
          class="page-item {% if inactive_page == page_num %}active{% endif %}"
        >
          <a
            class="page-link"
            href="{{ url_for('superadmin_user', taken_user_id=taken_user_id, active_page=active_page, inactive_page=page_num) }}"
            style="{% if inactive_page == page_num %}color: white; background-color: #14335f;{% endif %}"
            >{{ page_num }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}

<!-- Modal konfirmasi Perubahan Data Pengguna -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Konfirmasi Simpan</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Apakah Anda yakin ingin menyimpan perubahan?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button
          type="button"
          id="saveChangesButton"
          class="btn text-white"
          style="background-color: #14335f"
        >
          Ya, Simpan Perubahan
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ubah Password -->
<div
  class="modal fade"
  id="editPasswordModal"
  tabindex="-1"
  aria-labelledby="editPasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPasswordModalLabel">Ubah Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="updatePasswordForm"
          method="POST"
          action="{{ url_for('superadmin_user', taken_user_id=user_data[0]) }}"
        >
          <div class="mb-3">
            <label for="new_password" class="form-label">Password Baru</label>
            <div class="input-group">
              <input
                type="password"
                id="new_password"
                name="new_password"
                class="form-control"
                style="border-color: #14335f"
                required
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="togglePassword"
              >
                <i class="fa fa-eye-slash"></i>
              </button>
            </div>
          </div>
          <button
            type="submit"
            class="btn text-white"
            style="background-color: #14335f"
          >
            Simpan
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Konfirmasi Ubah Password -->
<div
  class="modal fade"
  id="confirmPassModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Konfirmasi</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Apakah Anda yakin ingin mengubah password?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button
          type="button"
          class="btn text-white"
          style="background-color: #14335f"
          id="confirmPasswordUpdate"
        >
          Ya
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detail Detection -->
<div
  class="modal fade"
  id="detailDetectionModal"
  tabindex="-1"
  aria-labelledby="detailDetectionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailDetectionModalLabel">Detail Data</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="col-md-6 d-flex align-items-center justify-content-center"
          >
            <img
              class="img-fluid"
              id="detailImage"
              alt="Image"
              style="max-height: 100%; width: 100%"
            />
          </div>
          <div class="col-md-6">
            <div
              class="table-responsive"
              style="max-height: 400px; overflow-y: auto"
            >
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>ID</td>
                    <td id="detailID"></td>
                  </tr>
                  <tr>
                    <td>Tanggal dan Waktu</td>
                    <td id="detailDateTime"></td>
                  </tr>
                  <tr>
                    <td>NIK Pasien</td>
                    <td id="detailPatientNIK"></td>
                  </tr>
                  <tr>
                    <td>Nama Pasien</td>
                    <td id="detailPatientName"></td>
                  </tr>
                  <tr>
                    <td>Nama Dokter</td>
                    <td id="detailDoctorName"></td>
                  </tr>
                  <tr>
                    <td>Kategori</td>
                    <td id="detailLabel"></td>
                  </tr>
                  <tr>
                    <td>Keyakinan (%)</td>
                    <td id="detailConfidence"></td>
                  </tr>
                  <tr>
                    <td>Catatan</td>
                    <td id="detailNote"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger mt-2"
          id="deleteButton"
          style="display: block; margin: 0 auto"
        >
          <i class="fa fa-exchange"> Ubah Status</i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Konfirmasi Penghapusan -->
<div
  class="modal fade"
  id="confirmDeletionModal"
  tabindex="-1"
  aria-labelledby="confirmDeletionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeletionModalLabel">
          Konfirmasi Pengubahan Status
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin ingin mengubah status data tersebut?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Batal
        </button>
        <button type="button" class="btn btn-danger" id="confirmDeleteButton">
          Ya, Ubah
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

<script>
  //Fungsi ambil data deteksi untuk modal detail deteksi
  $(document).ready(function () {
    $(".btn-detail").click(function () {
      var id = $(this).data("id");
      var image = $(this).data("image");
      var label = $(this).data("label");
      var datetime = $(this).data("datetime");
      var patient = $(this).data("patient");
      var note = $(this).data("note");
      var conf = $(this).data("conf");
      var doc = $(this).data("doc");
      var pnik = $(this).data("pnik");

      $("#detailPatientName").text(patient);
      $("#detailPatientNIK").text(pnik);
      $("#detailDoctorName").text(doc);
      $("#detailID").text(id);
      $("#detailImage").attr(
        "src", image
      );
      $("#detailLabel").text(label);
      $("#detailDateTime").text(datetime);
      $("#detailNote").text(note);
      $("#detailConfidence").text(conf);
      $("#detailDetectionModal").modal("show");
    });
  });
  //Fungsi edit button
  document.getElementById("editButton").addEventListener("click", function () {
    document.getElementById("user_fieldset").disabled = false;
    document.getElementById("editButton").style.display = "none";
    document.getElementById("editPasswordButton").style.display = "none";
    document.getElementById("saveButton").style.display = "block";
    document.getElementById("cancelButton").style.display = "block";
  });
  //fungsi cancel button
  document
    .getElementById("cancelButton")
    .addEventListener("click", function () {
      document.getElementById("user_fieldset").disabled = true;
      document.getElementById("editButton").style.display = "block";
      document.getElementById("editPasswordButton").style.display = "block";
      document.getElementById("saveButton").style.display = "none";
      document.getElementById("cancelButton").style.display = "none";
      document.getElementById("new_name").value = "{{ user_data[1] }}";
      document.getElementById("new_phone").value = "{{ user_data[2] }}";
      document.getElementById("new_email").value = "{{ user_data[3] }}";
      document.getElementById("new_status").value = "{{ user_data[7] }}";
    });
  //fungsi show modal konfirmasi
  document.getElementById("saveButton").addEventListener("click", function () {
    $("#confirmModal").modal("show");
  });
  //fungsi simpan perubahan setelah modal konfirmasi
  document
    .getElementById("saveChangesButton")
    .addEventListener("click", function () {
      document.getElementById("user_form").submit();
    });
  //fungsi show password
  document.addEventListener("DOMContentLoaded", function () {
    const togglePassword = document.querySelector("#togglePassword");
    const passwordInput = document.querySelector("#new_password");

    togglePassword.addEventListener("click", function () {
      const type =
        passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
      this.querySelector("i").classList.toggle("fa-eye");
      this.querySelector("i").classList.toggle("fa-eye-slash");
    });
  });
  //fungsi show modal update password
  document
    .getElementById("updatePasswordForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      $("#confirmPassModal").modal("show");
      $("#editPasswordModal").modal("hide");
    });
  //fungsi submit update password
  document
    .getElementById("confirmPasswordUpdate")
    .addEventListener("click", function () {
      document.getElementById("updatePasswordForm").submit();
    });
  //fungsi ganti status keaktifan deteksi
  document.addEventListener("DOMContentLoaded", function () {
    var deleteButton = document.getElementById("deleteButton");
    var confirmDeleteButton = document.getElementById("confirmDeleteButton");
    var detailID = document.getElementById("detailID");
    var confirmModal = new bootstrap.Modal(
      document.getElementById("confirmDeletionModal")
    );

    deleteButton.addEventListener("click", function () {
      confirmModal.show();
    });

    confirmDeleteButton.addEventListener("click", function () {
      var detectionId = detailID.innerText;
      fetch("/change_status_detection", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ id: detectionId }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            confirmModal.hide();
            location.reload();
          } else {
            console.error("Gagal mengubah status.");
          }
        })
        .catch((error) => console.error("Error:", error));
    });
  });
  //fungsi select option status
  document.addEventListener("DOMContentLoaded", function () {
    var currentStatus = "{{ user_data[7] }}";
    var selectElement = document.getElementById("new_status");
    for (var i = 0; i < selectElement.options.length; i++) {
      if (selectElement.options[i].value === currentStatus) {
        selectElement.options[i].selected = true;
        break;
      }
    }
  });
  //fungsi cari data tabel1
  function searchTable1() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById("searchInput1");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTable1");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      tr[i].style.display = "none";
      td = tr[i].getElementsByTagName("td");

      for (j = 1; j <= 2; j++) {
        if (td[j]) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            break;
          }
        }
      }
    }
  }
  //fungsi cari data tabel2
  function searchTable2() {
    var input, filter, table, tr, td, i, j, txtValue;
    input = document.getElementById("searchInput2");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTable2");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      tr[i].style.display = "none";
      td = tr[i].getElementsByTagName("td");

      for (j = 1; j <= 2; j++) {
        if (td[j]) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            break;
          }
        }
      }
    }
  }
</script>
{% endblock %}
